@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Londrina+Outline&display=swap');

.Game-layout {
  width: 100vh;
  margin: 0 auto;
  padding: 5%;
  &--buttons {
    display: flex;
    justify-content: space-between;

    .score {
      padding: 30px;
      font-family: 'Londrina Outline', cursive;
      font-size: 30px;
    }
  }
  .gameScreen {
    height: auto;
    min-width: 400px;
    border: dotted;
    text-align: center;
    padding: 60px;

    span {
      padding: 10px 10px;
      font-family: 'Fredericka the Great', cursive;
      font-size: 30px;
    }
  }

  .alphabet {
    display: -webkit-box;
    max-width: 800px;
  }
}
